a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    z-index: 9999;
}

.side-bar-header {
    flex: 0 0 14rem;
}

.body-header {
    width: calc(100% - 14rem);
    background-color: #ffffff;
}

.search-area {
    background-color: #dcdcdc;
    color: #000000;
    border-radius: 2rem;
    padding: 0.5rem;
}

.search-input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    height: 1.7rem;
}

.header-notification {
    position: absolute;
    left: 0;
    margin-top: .2rem;
    width: 16rem;
    color: #000000;
    box-shadow: 0 1px 20px 0 rgb(70 90 100 / 8%);
    background-color: #ffffff;
    display: none;
}

.notification-img {
    width: 3rem;
    border-radius: .1rem;
}

.notification-user {
    font-size: .8rem;
    font-weight: bold;
    margin-top: .3rem;
    color: #495057;
}

.notification-message {
    font-size: .7rem;
    line-height: .7rem;
}

.notification-time {
    font-size: .6rem;
    line-height: .6rem;
    color: #919aa3;
}

.header-comment {
    position: absolute;
    height: calc(100vh - 6rem);
    width: 18rem;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0 1px 20px 0 rgb(70 90 100 / 8%);
    display: none;
}

.header-comment-wrapper {
    height: calc(100% - 4.9rem);
    overflow: auto;
}

.header-comment-wrapper::-webkit-scrollbar {
    display: none;
}

.comment-user {
    font-size: .75rem;
    font-weight: bold;
    margin-top: .8rem;
}

.comment-user + span i {
    font-size: .4rem
}

.header-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
    margin: .2rem;
}

.header-username {
    color: #333333;
    font-size: .8rem;
}

.header-profile {
    position: absolute;
    margin-top: .2rem;
    left: 0;
    z-index: 99;
    height: auto;
    width: 13rem;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0 1px 20px 0 rgb(70 90 100 / 8%);
    display: none;
}

.margin-left {
    margin-left: 3rem;
}

@media (min-width: 767.98px) {
    .margin-left {
        margin-left: 3rem !important;
    }
}

.header-profile-link {
    padding: .4rem;
    font-size: .8rem;
    line-height: 1.4rem;
}

.header-profile-link > i {
    width: 2rem;
    text-align: center;
}

@media only screen and (max-width: 767.98px) {
    .header {
        display: block;
    }

    .side-bar-header {
        width: 100%;
    }

    .body-header {
        display: none;
        width: 100%;
    }
}

.body-container {
    /*margin-top: 3.5rem;*/
    /*display: flex;*/
    /*z-index: 9999;*/
    /*width: calc(100% - 14rem);*/
    /*min-height: calc(100vh - 3.5rem);*/
    /*float: left;*/
    margin-top: 3.5rem;
    z-index: 100000;
    display: flex;
}

.side-bar {
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 3.5rem;*/
    /*width: 14rem;*/
    /*background-color: #404E67;*/
    /*height: calc(100% - 3.5rem);*/
    /*overflow: auto;*/
    z-index: 99;
    flex: 0 0 14rem;
    background-color: #404E67;
    color: #dcdcdc;
}

.side-bar-container {
    height: calc(100vh - 3.5rem);
    position: fixed;
    right: 0;
    top: 3.5rem;
    z-index: 10000;
    width: 14rem;
    overflow: auto;
}

.side-bar-container::-webkit-scrollbar {
    display: none;
}

.side-bar-wrapper {
    padding: 1rem 0;
    overflow: auto;
}

.side-bar-wrapper::-webkit-scrollbar {
    display: none;
}

.side-bar-part-title {
    font-size: .9rem;
    padding: 0 1rem;
    margin-top: 1rem;
    color: #999999;
}

.side-bar-link {
    display: block;
    font-size: .8rem;
    margin-top: 1rem;
    padding: .4rem 1rem;
    color: #dcdcdc;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .3s;
}

.side-bar-link > i {
    width: 2rem;
    text-align: center;
}

.side-bar-link:hover {
    text-decoration: none;
    color: #FE8A7D;
}

.side-bar-group-link {
    font-size: .8rem;
    margin-top: 1rem;
    padding: .4rem 0;
    color: #dcdcdc;
}

.side-bar-group-link-active {
    border-right: 3px solid #FE8A7D;
}

.side-bar-group-link > .side-bar-drop-down {
    display: none;
    height: 0;
}

.side-bar-group-link-active > .side-bar-drop-down {
    display: block !important;
    height: auto !important;
}

.side-bar-drop-down-toggle {
    color: #dcdcdc;
    cursor: pointer;
    padding: .2rem 1rem;
    transition: all .3s;
}

.side-bar-drop-down-toggle:hover {
    color: #F6F6F6;
}

.side-bar-drop-down-toggle .icon {
    width: 2rem;
    text-align: center;
}

.side-bar-drop-down-toggle > i.fa-angle-left, .side-bar-drop-down-toggle > i.fa-angle-down {
    float: left;
}

.side-bar-drop-down a,
button {
    padding: .2rem 1rem;
    display: block;
    text-decoration: none;
    background-color: inherit;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all .3s;
}

.side-bar-drop-down a::before,
button::before {
    content: '»';
    margin: .8rem;
}

.side-bar-drop-down a:hover,
button:hover {
    color: #FE8A7D;
}

.main-body {
    /*background-color: #f3f3f3;*/
    /*padding: 1rem;*/
    /*z-index: 9;*/
    width: calc(100% - 14rem);
    padding: 1rem;
    min-height: calc(100vh - 3.5rem);
    background-color: #f3f3f3;
}

.info-box-body h5 {
    font-size: .9rem;
    line-height: 1rem;
}

.info-box-body p {
    font-size: .7rem;
    line-height: 1rem;
}

.info-box-footer {
    font-size: .6rem;
}

.info-box-icon i {
    font-size: 2rem;
}

.main-body-container {
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: .25rem;
    padding: 1rem;
}

.main-body-container-header h5 {
    font-size: 1rem;
    font-weight: bold;
}

.main-body-container-header p {
    font-size: .8rem;
    color: #777;
}

.body-content {
    font-size: .8rem;
}

@media only screen and (max-width: 767.98px) {
    .side-bar {
        display: none;
    }

    .main-body {
        width: 100% !important;
        z-index: 1;
        float: none !important;
    }
}