@font-face {
    font-family: IRANSans;
    src: url("../fonts/IRANSans/IRANSansWeb.woff") format('woff');
}

@font-face {
    font-family: IRANSans_Bold;
    src: url("../fonts/IRANSans/IRANSansWeb_Bold.woff") format('woff');
}

@font-face {
    font-family: IRANSans_Light;
    src: url("../fonts/IRANSans/IRANSansWeb_Light.woff") format('woff');
}

@font-face {
    font-family: IRANSans_Medium;
    src: url("../fonts/IRANSans/IRANSansWeb_Medium.woff") format('woff');
}

@font-face {
    font-family: IRANSans_UltraLight;
    src: url("../fonts/IRANSans/IRANSansWeb_UltraLight.woff") format('woff');
}